<section class="area-work primary-section">
    <div class="container">
        <span class="section-name">
            Cферы деятельности
        </span>
        <div class="area-work__wrapper primary-wrapper">
            <h2 class="section-title area-work__title">Юридические услуги</h2>

            <div class="area-work__container">

                <div class="area-work__list">
                    <div class="area-work__item">
                        <span class="area-work__item-name">Миграционное право</span>
                        <span class="area-work__item-number">01</span>
                    </div>

                    <div class="area-work__item">
                        <span class="area-work__item-name">Уголовное право</span>
                        <span class="area-work__item-number">02</span>
                    </div>

                    <div class="area-work__item">
                        <span class="area-work__item-name">Наследственные споры</span>
                        <span class="area-work__item-number">03</span>
                    </div>

                    <div class="area-work__item">
                        <span class="area-work__item-name">Гражданское право</span>
                        <span class="area-work__item-number">04</span>
                    </div>

                    <div class="area-work__item">
                        <span class="area-work__item-name">Земельное право</span>
                        <span class="area-work__item-number">05</span>
                    </div>

                    <div class="area-work__item">
                        <span class="area-work__item-name">Административное право</span>
                        <span class="area-work__item-number">06</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Трудовое право</span>
                        <span class="area-work__item-number">07</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Услуги автоюриста</span>
                        <span class="area-work__item-number">08</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Страховое право </span>
                        <span class="area-work__item-number">09</span>
                    </div>
                </div>


                <div class="area-work__list">
                    <div class="area-work__item">
                        <span class="area-work__item-name">Семейное право</span>
                        <span class="area-work__item-number">10</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Кредитное право</span>
                        <span class="area-work__item-number">11</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Долговые споры</span>
                        <span class="area-work__item-number">12</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Защита прав потребителей</span>
                        <span class="area-work__item-number">13</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Пенсионное право </span>
                        <span class="area-work__item-number">14</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Медицинское право </span>
                        <span class="area-work__item-number">15</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Налоговый адвокат </span>
                        <span class="area-work__item-number">16</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Юрист по банкротству </span>
                        <span class="area-work__item-number">17</span>
                    </div>


                    <div class="area-work__item">
                        <span class="area-work__item-name">Взыскание задолжностей</span>
                        <span class="area-work__item-number">18</span>
                    </div>
                </div>
            </div>
            <a href="#" class="primary-btn area-work__btn">
                Рассказать о проблеме
            </a>
        </div>     
    </div>
</section>