<section class="hero">
    <div class="hero__bg" style="background-image: url(../img/hero/hero.png);">
        <div class="container hero__contianer">
            <h1 class="page-title">
                Российская юридическая помощь в армении
            </h1>
            <p class="section-suptitle">
                Жан Семенов основатель компании. Превратим сложное в простое.
            </p>

            <div class="hero__benefits benefits">
                <div class="benefits-item">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.561 7.44397L12.005 15L8.22803 11.222" stroke="#BA8E55" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M21 12C21 16.971 16.971 21 12 21C7.029 21 3 16.971 3 12C3 7.029 7.029 3 12 3C13.453 3 14.821 3.353 16.036 3.964"
                            stroke="#BA8E55" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="benefits-item__text default-text">Отвечаем в течении 15 минут</span>
                </div>
                <div class="benefits-item">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.561 7.44397L12.005 15L8.22803 11.222" stroke="#BA8E55" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M21 12C21 16.971 16.971 21 12 21C7.029 21 3 16.971 3 12C3 7.029 7.029 3 12 3C13.453 3 14.821 3.353 16.036 3.964"
                            stroke="#BA8E55" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="benefits-item__text default-text">Рабочее время с 10 – 18 вс выходной</span>
                </div>
                <div class="benefits-item">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.561 7.44397L12.005 15L8.22803 11.222" stroke="#BA8E55" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M21 12C21 16.971 16.971 21 12 21C7.029 21 3 16.971 3 12C3 7.029 7.029 3 12 3C13.453 3 14.821 3.353 16.036 3.964"
                            stroke="#BA8E55" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="benefits-item__text default-text">Консультируем по всему российскому
                        законодательству</span>
                </div>
            </div>

            <div class="hero__feedback-block">
                <a href="#" class="primary-btn hero__feedback-btn">
                    Бесплатная консултация
                </a>
                <a href="services.html" class="hero__feedback-btn">
                    <span>Наши услуги</span>
                    <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19.9201 8.95001L13.4001 15.47C12.6301 16.24 11.3701 16.24 10.6001 15.47L4.08008 8.95001"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg> -->
                </a>
            </div>
        </div>

        <img src="../img/hero/jan.png" alt="A picture of a person" class="hero__avatar">
    </div>
</section>